/*CSS DOCUMENT*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} 

img {
    width: 100%; 
}

@font-face {
    font-family: 'courgetteregular';
    src: url('webfontkit/courgette-regular-webfont.woff2') format('woff2'),
         url('webfontkit/courgette-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

nav ul{
    display:grid;
    grid-template-columns: 33% auto 33%;
    text-align: center;
    margin-left: 0em;
}

nav ul li {
    display:inline;
    font-family: courgetteregular;
    font-size: 1.4em;
    list-style-type: none;
    margin-right: 1em;
    font-weight: bold;
}

nav ul li a{
    color: rgb(124, 26, 173);
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

body {
    font-family: dunbar-text;
    font-weight: normal;
    background-color: rgb(255, 143, 143);
    color: rgb(255, 255, 255);
    padding-right: 1.2em;
    padding-left: 1.2em;
}

.important{
    font-weight: bold;
}

.email{
    font-weight:bold;
    text-decoration: underline;
}

.email:hover{
    color: rgb(124, 26, 173);
}

.toppings{
    text-align: center;
    font-size: .8em;
}

.hours{
    text-align: center;
    font-size: .8em;
    margin-bottom: 2em;
}

h1{
    text-align: center;
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 1em;
}

h2 {
    color: rgb(124, 26, 173);
    font-family: courgetteregular;
    font-size: 2em;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h3 {
    font-family: serif;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .4em;
}

.sizes{
    margin-bottom: 1em;
}

.drinks{
    text-align: center;
}

.scoops{
    margin-top: 1em;
    text-align: center;
}

.centered{
    text-align: center;
    margin-left: 0em;
    list-style: none;  
}

.specials{
    color: rgb(124, 26, 173);
    font-family: courgetteregular;
    font-size: 1.3em;
    margin-top: 1.5em;
    margin-bottom: .6em;
    text-align: center;
}

.reminder{
    font-family: courgetteregular;
    font-size: 1.3em;
    font-weight: lighter;
}

h4{
    font-family: dunbar-text;
    font-size: 1.1em;
    margin-top: .8em;
    margin-bottom: .2em;
}

ul {
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-left: 3em;
}

footer {
    color: rgb(124, 26, 173);
    text-align: center;
    font-family: courgetteregular;
    font-size: .8em;
    font-weight: bold;
    line-height: 2em;
    margin-top: 3em;
    margin-bottom:1em;
}
